<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Edit Profile: <%= userProfile.username %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/profile/<%= userProfile._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="profile[firstName]" value="<%= userProfile.firstName %>">
                </div>
                <div class = "form-group">
					<input class= "form-control" type="text" name="profile[lastName]" value="<%= userProfile.lastName%>">	
				</div>
                <div class="form-group">
                    <input class="form-control" type="text" name="profile[email]" value="<%= userProfile.email %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="profile[phoneNumber]" value="<%= userProfile.phoneNumber %>">
                </div>
                <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/profile/<%=userProfile._id%>">Back</a>
        </div>
    </div>
<% include ../partials/footer %>