<% include ../partials/header %>
<div class="row">
    <div class="col-md-3">
        <p class="lead"><%=userProfile.username%></p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>
    <div class="col-md-9">
        <!-- profilepic -->
        <div class="col-md-4">
            <img class="img-responsive" src="<%= userProfile.avatar %>">
        </div>
        <div class="col-md-8">
            <p>First name: <span style="color: blue"><%=userProfile.firstName%></span></p> 
            <hr>
            <p>Last name: <span style="color: blue"><%=userProfile.lastName%></span></p>
            <hr>
            <p>Email: <span style="color: blue"><%=userProfile.email%></span></p>
            <hr>
            <p>Phone number: <span style="color: blue"><%=userProfile.phoneNumber%></span></p>
            <hr>
            <% if(currentUser && currentUser._id.equals(userProfile._id)) {%>
                <a class="btn btn-sm btn-warning" href="/profile/<%=userProfile._id%>/edit">edit profile</a>
            <% } %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><strong>Supporting documents</strong></p>
                <hr>
                <div class = "row">
                    <div class="list-group">
                        <% userProfile.documents.forEach((document) =>{ %>
                        <li class="list-group-item">
                            <%=document.documentName%>
                            <a href ="<%=document.documentUrl%>" class = "pull-right btn btn-xs btn-primary">download</a>
                            <%=document.documentId%>
                            <% if(currentUser && currentUser._id.equals(userProfile._id)|| currentUser && currentUser.isAdmin){ %>
                                <form class="pull-right" style="display: inline" action ="/profile/<%=userProfile._id%>/document/<%=document.documentId%>?_method=DELETE" method = "POST">
                                    <button class = "btn btn-xs btn-danger">delete</button>
                                </form>
                            <% } %>
                        </li>
                        <% }); %>
                    </div>
                </div>
                <div class = "row">
                    <% if(currentUser && currentUser._id.equals(userProfile._id) || currentUser && currentUser.isAdmin){ %>
                    <form action="/profile/<%=userProfile._id%>/document" method="POST" enctype="multipart/form-data">
                        <label for="doc">Add Document</label>
                        <input type="file" id="document" name="doc" accept=".pdf" required>
                        <div class = "form-group"><button class = "btn btn-xs btn-info">Submit</button></div>
                    </form>
                    <% }%>
                </div>

            </div>
        </div>
        <!-- supporting documents -->
    </div>
</div>

<% include ../partials/footer %>